### OpenAI Setup ###

# OPENAI_API_KEY=Your personal OpenAI API key from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=...
